* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.bulb {
    width: 20%;
    height: 260px;
    background-color: transparent;
    display: flex;
    align-items: center;
    position: relative;
    top: 100px;
    margin-left: 250px;
    border: 2px solid red;
    border-radius: 150px;
}

button {
    height: 50px;
    width: 7%;
    margin: 50px;
    margin-left:335px;
    margin-top: 150px;
    background-color: red;
    color: #fff;
    border-radius: 20px;
}